<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Inicio</title>
    <link rel="stylesheet" href="../css/navbar.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="containerIndex">

      <div class="barraNav">
        <a href="../index.jsp">
          <img
            src="../img/logo.png"
            alt=""
            width="70px"
            height="25px"
            class="imgLogo"
          />
        </a>

        <div id="barraLateral">
          <input type="checkbox" id="active" />
          <label for="active" class="menu-btn" style="margin-top: -16px"
            ><span></span
          ></label>
          <label for="active" class="close"></label>

          <div class="wrapper">
            <ul>
              <li>
                <a href="../index.jsp">&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;</a>
              </li>
              <li><a href="../inventario.jsp">Inventario</a></li>
              <li><a href="#">Categoria</a></li>
            </ul>
          </div>
        </div>
      </div>

   
        <div class="row  bg-inventario">

            <div class="col-1">

            </div>

            <div class="col-10 position-absolute top-50 start-50 translate-middle animate">

                <h1>Inventario</h1>
                <table class="table table-dark table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        <th scope="col">x</th>
                        <th scope="col">y</th>
                        <th scope="col">z</th>
                        <th scope="col">ActionController</th>
                        <th scope="col">b</th>
                        <th scope="col">c</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@X</td>
                        <td>@y</td>
                        <td>@z</td>
                        <td>@ActionController</td>
                        <td>@b</td>
                        <td>@b</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@X</td>
                        <td>@y</td>
                        <td>@z</td>
                        <td>@ActionController</td>
                        <td>@b</td>
                        <td>@b</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@X</td>
                        <td>@y</td>
                        <td>@z</td>
                        <td>@ActionController</td>
                    
                      </tr>
                    </tbody>
                
                
                </table>   
            </div>
    
            <div class="col-1">

            </div>
                
    



        </div>





    </div>
          
           
            






                
          
        


      

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
